<ion-view view-title="Home">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-compose" ng-click="openModal()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
      <button class="button button-icon ion-refresh" ng-click="refresh()"> Refresh</button>

      <ion-toggle ng-model="shouldShowDelete">
        Show Delete?
      </ion-toggle>
      <ion-list show-delete="shouldShowDelete" ng-repeat="yoh in personall">
        <ion-item type="item-text-wrap" href="#/tab/lists/{{yoh.id}}">
          <ion-delete-button class="ion-minus-circled" ng-click="delete(yoh.id)"></ion-delete-button>
            {{yoh.firstname}} {{yoh.lastname}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
